.banner {
   background: url("../assets/267361.jpg") no-repeat left/cover;
   height: calc(100vh - 80px);
}

.banner_wrapper {
   position: relative;
   background-color: hsla(329, 90%, 50%, .3);
   color: hsla(329, 10%, 10%, .5);
   /*border: 1px dashed hsla(329, 90%, 50%, .3);*/
   border-radius: 15px / 100px;
   padding: 1rem;
   width: 400px;
   top: 10rem;
   left: 2rem;
   text-align: center;
}

.link_tt {
   font-size: 2rem;
}
.link_tt:hover {
   text-decoration: underline;
}
.fernando {
   display: none;
}