:root {
   background-color: #202124;
   font-family: 'Karla', sans-serif;
   color: #F9F9F9;
}

.container {
   padding-left: 2rem;
   padding-right: 2rem;
   border-bottom: 3px solid hsl(329, 90%, 50%);
   box-sizing: border-box;
}